<!DOCTYPE html>
<html lang="{{ Site.Culture }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% render_section "HeadMeta", required: false %}
        <title>{% page_title Site.SiteName, position: "before", separator: " - " %}</title>
        <!-- Favicon-->
        <link href="/Freelancer.OrchardCore/img/favicon.ico" rel="icon" type="image/x-icon">
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/Freelancer.OrchardCore/css/styles.css" rel="stylesheet">
        {% resources type: "Meta" %}
        {% resources type: "HeadLink" %}
        {% resources type: "Stylesheet" %}
        {% resources type: "HeadScript" %}
    </head>
    <body id="page-top">
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">{{ Site.SiteName }}</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_duration: "00:05:00", cache_tag: "alias:main-menu" %}
            </div>
        </nav>
        {% if Request.Path != '/' %}
        <section class="mt-5">
            <div class="container">
                {% render_section "Content", required: false %}
            </div>
        </section>
        {% else %}
        {% render_section "Content", required: false %}
        {%  endif %}
        <footer class="footer text-center">
            <div class="container">
                {% render_section "Footer", required: false %}
            </div>
        </footer>
        <div class="copyright py-4 text-center text-white">
            <div class="container">
                {% render_section "Copyright", required: false %}
            </div>
        </div>
        <div class="scroll-to-top d-lg-none position-fixed ">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="/Freelancer.OrchardCore/js/jqBootstrapValidation.js"></script>
        <script src="/Freelancer.OrchardCore/js/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="/Freelancer.OrchardCore/js/scripts.js"></script>
        {% resources type: "FootScript" %}
    </body>
</html>